*{
    margin: 0;
    padding: 0;
    overflow: visible;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x:hidden;

    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 12px 50px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}
.logo{
    top: 100%;
    width: 17%;
    padding-top: 15px;
    cursor: pointer;
    /* flex: 1; */
}
.menu{
    display: flex;
    /* flex: 3; */
}
.menu-list:hover{
    transition: 0.5s;
    color: red;
}
.menu > li {
    padding: 10px 12px;
    font-weight: bold;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    display: flex;
}
.sub-gia{right: 0;
    height: 37px;
    width: 31px;
    margin-top: -40px;
    padding-left: 50px;
}
.sub-menu > div {
    font-weight: bold;
    display: block;
}
.sub-menu > div  a{

    padding: 15px;
}
.sub-menu{
    position: absolute;
    display: flex;
    border:1px solid #E7E8E9 ;
    width: 1790px;
    margin-top: 5px;
    height: auto;
    padding: 23px 1px;
    background-color: white;
    display: none;
    z-index: 1;
    transition: 3s;
}
.sub-menu  ul {
    margin-left: 30px;
    margin-right: 50px;
}
.sub-menu > li  ul a{
    font-weight: normal;
    line-height: 60px;
    font-size: 15px!important;
}
.menu   li  a{
    font-size: 15px;
    display: block;
    line-height: 20px;
    padding-left: 10px;
}
.other{ 
    display: flex;
    align-items: center;
    /* flex: 1; */
    padding-right: 30px;
}
.other li >a {
    padding: 0 12px;
    color: #ccc;
    cursor: pointer;

}

.other > li:first-child{
    position: relative;
    cursor: pointer;
}
.other > li:first-child input{
    outline: none;
    height: 40px;
    padding: 10px 10px 10px 80px;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    border:1px solid #E7E8E9 ;
}
.other > li:first-child i{
    position: absolute;
    right: 250px;
    padding-top: 12px;
}
.other > li > a{
    color: rgb(97, 92, 92)
}

/* nav--------------- */
nav{
    width: 100%;
    padding-left: 3%;
    padding-top: 68px;
    text-align: center;
}
.nav-container{
    display: flex;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 0;
    position: relative;
    width: 113%;
    height: 65px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.left-nav{
    border:1px solid #ccc ;
    background-color: #D73831;
    max-width: 32%;
}
.left-nav,.center-nav, .right-nav > p{
    padding: 12px;
    color: white;
    width: 31%;
    text-align: center;
}
.center-nav{
    border:1px solid #ccc ;
    background-color: #DC633A;
    max-width: 36%;

}
.right-nav > p{
    display: flex;
    width: 100%;
    padding-right: 80px;
    padding-left: 140px;
}
.right-nav{
    border:1px solid #ccc ;
    background-color: #AC2F33;
    max-width: 32%;

}
/* slider----------------- */
#Slider{
    /* padding-bottom: 30px; */
    border-bottom: 3px solid #333;
    overflow: hidden;
    margin-left: 3%;
    width: 93%;
    max-height: 700px;
    border-radius: 100px 0 100px 0;
    
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 44.25%;
    transition: 0.3s;
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
.dot-container{
    position: absolute;
    /* height: 35px; */
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 120px;

}
.dot{
    height: 15px;
    width: 15px;
    border: 2px solid #D1D2D4;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}
.dot:hover{
    background-color: #D1D2D4;
}
.dot.active{
    background-color: #D1D2D4;
}

/*----------- app------------ */
.app-container{
    overflow: hidden;
    width: 100%;
    margin-top: 80px;
    border-top: 1px solid #333;
    text-align: center;
    align-items: center;
}
.app-google{
    margin: 50px;
}
.app-google img {
    height: 50px;
}
.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}
.app-container input{
    margin-top: 50px;
    border: none;
    border-bottom:1px solid #333 ;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}
/* footer------------------------------------------------------------------------------------ */
footer{
    border-top: 1px solid #D1D2D4;
    width: 100%;
    justify-content: space-between;
}
.main-footer{
    padding-top: 50px;
    display: flex;
    margin: 0 45px 0 45px;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid #D1D2D4;
}
.footer-left{
    max-width: 27.05%;
    width: 100%;
}
.top-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bottom-left{
    font-size: 17px;
    line-height: 24px;
    color: #3E3E3F;
    font-style: inherit;
}
.bottom-left p{
    padding: 10px;
}
.hotline{
    padding-top: 25px;
}
.hotline a{
    background: #221F20;
    border-radius: 16px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #F7F8F9;
    padding: 16px 24px;
    font-family: 'Roboto', sans-serif;

}
.footer-center{
    max-width: 42.2%;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.footer-center ul{
    padding: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221F20;
    margin-bottom: 20px;
}
.footer-center ul > li{
    padding-top: 15px;
    font-size: 15px;
    font-weight: 50;
    line-height: 24px;
    color: #57585A;
    margin-bottom: 16px;
    display: block;
}
.footer-right{
    max-width: 23.75%;
    width: 100%;
}

.form-footer{
    background: #FFFFFF;
    border: 6px solid #E7E8E9;
    border-radius: 56px 0px;
    padding: 32px 28px;
    margin-bottom: 32px;
}
.form-footer p{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    max-width: 80%;
    margin-bottom: 8px;
}
.submit1{
    display: flex;
}
.submit{
    display: flex;
    justify-content: space-around;
}
.submit1__email{
    border: 0;
    outline-style: none;
    border-bottom: 1px solid #BCBDC0;
    font-size: 14px;
    line-height: 24px;
    color: #221F20;
    padding: 0 12px 10px;
}
.submit1__đk{
    background: #FFF;
    border: 1px solid #221F20;
    box-sizing: border-box;
    border-radius: 24px 0px;
    margin-right: 0;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    line-height: 20px;
    text-align: center;
    color: #221F20;
    padding: 15px 15px;
    position: relative;
    z-index: 2;
}
.submit1__đk:hover{
    background: #000;
    color: #ccc;
}
.image__2 img{
    display: inline-block;
    margin-right: 19px;
}
.end{
    font-size: 16px;
    line-height: 20px;
    color: #57585A;
    text-align: center;
    padding: 24px 0 ;
}

/* ----------danh muc---------------- */
.row{
    display: flex;
    flex-wrap: wrap;
}
.container-top{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #f7f8f9;
    padding-left: 70px;
    font-size: 16px;
    line-height: 24px;
    color: #6c6d70;

}
.carterlogymain{
    margin-top: 46px;
}
.cartelogy__left{
    max-width: 270px;
    width: 20%;
}
.cartelogy__left ul{
    max-height: 600px;
    overflow: scroll    ;
}
.submit1__đk2{
    outline: none;
    border: 1px solid #221F20;
    box-sizing: border-box;
    border-radius: 24px 0px;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    line-height: 20px;
    text-align: center;
    padding: 15px 15px;
    z-index: 2;
    background: #FFF;
    color: #221F20;
}
.submit1__đk2:hover {
    background: black;
    color: white;
}
.submit1__đk22{
    outline: none;
    border: 1px solid #221F20;
    box-sizing: border-box;
    border-radius: 24px 0px;
    cursor: pointer;
    font-size: 16px;
    width: 75px;
    line-height: 20px;
    text-align: center;
    padding: 15px 15px;
    z-index: 2;
    background: black;
    color: white;
}
.submit1__đk22:hover {
    background: white;
    color: black;
}
.item-side{
    border-bottom: 1px solid #F7F8F9;
    list-style: none;
    margin-bottom: 16px;
    padding-left: 70px;
}
.item-side-title{
    font-size: 16px;
    line-height: 20px;
    color: #221F20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    font-weight: normal;
    cursor: pointer;
}
/* .item-sub-list{
    max-width: 47px;
    margin-right: 15px;
} */
.cartelogy__right{
    width: 80% ;
    padding-left: 30px;
}
.certelogy__right-top{
    justify-content: space-between;
    margin-bottom: 26px;
    position: relative;
}
.certelogy__right-top p{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221F20;
    text-transform: uppercase;
}
.certelogy__right-top2{
    position: absolute;
    right: 0;
    top: 0;

}
.certelogy__right-top2 select{
    display: inline-block;
    margin-right: 16px;
    position: relative;
}
.certelogy__right-top2{
    min-width: 240px;
    /* width: 100%; */
    font-size: 14px;
    outline: none;
    line-height: 16px;
    color: #221F20;
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    border-radius: 24px;
    padding: 12px 40px 12px 16px;
    cursor: pointer;
    position: relative;
    display: block;

}
.certelogy__right-top2--menu {
    width: 16.5%;
    top:50px;
    opacity: 1;
    visibility: inherit;
    background-color: #D73831;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #E7E8E9;
    border-radius: 20px;
    padding: 16px 16px 13px;
    cursor: pointer;
    z-index: 9;
    transition: 0.3s;


}
.open{
    visibility: visible;
    
    top : 0px;
    opacity: 0;
}
.certelogy__right-top2--menu option{
    font-size: 14px;
    line-height: 40px;
    color: #221F20;
}
.cartelogy__right--content{
    justify-content: space-between;
}
.cartelogy__right--content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding:0 -10px;
}
.cartelogy__right--content-item > img{
    width: 95%;
}
.cartelogy__right--content-item > h1{
    font-size: 20px;
    outline: none;
    padding: 10px 0;
    font-weight: inherit;
}
.cartelogy__right--content-item  div p{
    color: #3E3E3F;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-right: 120px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.item_btn{
    padding: 0 16px 16px 16px;
    justify-content: space-around;
    display: flex
}
.cartelogy__right--content-item  div i{
    background: black;
    border: 1px solid #E7E8E9;
    border-radius: 8px 0px;
    height: 35px;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    min-width: 40px;
    /* font-size: 30px;
    width: 50px;
    height: 28px; */

}
.cartelogy__right--content-item  div i:hover{
    background: #FFF;
    color: black;
}
.cartelogy__bottom-stt{
    margin-top: 32px;
    padding-bottom: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.cartelogy__bottom-stt li a:hover{
    background: black;
    color: white;
}
.cartelogy__bottom-stt li{
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    border-radius: 8px 0px;
    height: 32px;
    font-size: 12px;
    color: #6C6D70;
    text-align: center;
    line-height: 30px;
    margin-right: 12px;
}
.cartelogy__bottom-stt li a{
    display: block;
    min-width: 32px;
    color: black;
}
/* ----------------------san pham------------------------------- */
.product__content{
    padding: 40px;
    padding-left: 70px;
}
    /* .product{
        padding: 100px 0;
    } */
.product__content-left{
    width: 50%;
}
.product__content-left--bigimg{
    width: 80%;
    padding-right: 20px;
}
.product__content-left--bigimg img{
    width: 100%;
}
.product__content-left--smallimg{
    padding: 60px 0;
    width: 17%;
}
.product__content-left--smallimg img{
    width: 100%;
}
.product__content-right{
    width: 50%;
    padding-left: 20px;
}
.product__content-right{
    padding-left: 120px;
}
.product__content-right h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: #221f20;
}
.product__content-right--info{
    margin-top: 16px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    color: #6c6d70;
}
.product__content-right--price{
    position: relative;
    display: inline-block;
    margin-top: 24px;
}
.product__content-right--price b{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221f20;
}
.product__content-right--price del{
    font-size: 16px;
    line-height: 16px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #a8a9ad;
    margin-left: 4px;
}
.product__content-right--price-sale{
    background-color: #dc633a;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #f7f8f9;
    left: calc(100% + 10px);
    position: absolute;
    top: -20%;
    padding: 4px 8px;
    min-width: 55px;
}
.product__content-right--color{
    margin-top: 24px;
}
.product__content-right--color p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #221f20;
    margin-bottom: 0;
}
.product__content-right--size{
    margin-top: 24px;
}
.product__content-right--size-input{
    display: flex;
    margin-top: 12px;
}
.product__content-right--size-input label + label{
    cursor: pointer;
    margin-left: 14px;
}
.product__content-right--size-input input{
    display: none;
}
.product__content-right--size-input span {
    width: 48px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e8e9;
}
.check-size{
    margin-top: 12px;
    font-size: 12px;
    line-height: 16px;
    display: block;
}
.product__content-right--quantily{
    margin-top: 24px;
    display: flex;
    align-items: center;
}
.product__content-right--quantily p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: baseline;
    margin-bottom: 0;
}
.product__content-right--actions{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.btn{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.btn__largen{
    padding: 12px 24px;
    border-radius: 16px 0px;
    font-size: 16px;
    line-height: 24px;
    background-color: #221f20;
    color: #f7f8f9;
    border: 1px solid transparent;
}
.btn__click:hover{
    transition: 0.3s;
    background-color: white;
    color: #221f20;
    border: 1px solid black;

}
.btn__click1:hover{
    background-color: #221f20;
    transition: 0.3s;
    color: #f7f8f9;
    border: 1px solid black;
}
.product__content-right--actions button {
    max-width: 190px;
}

.submit1__buton{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    cursor: pointer;
    padding: 15px;
    width: 100%;
}
.btn_out{
    background-color: white;
    border: 1px solid #221f20;
    color: #221f20;
}
.product__content-right--actions a{
    margin: 0 16px;
}
.btn--wishlist{
    width: 48px;
}
.product__content-right--actions-find{
    margin-top: 16px;
    flex: 0 0 100%;
    max-width: 100%;
    cursor: pointer;
}
.active{
    border-bottom: 2px solid black;
    
}
.divider{
    border-top: 1px solid #f7f8f9;
    margin-top: 16px;
}
.product__content-right--tab{
    position: relative;
    border-top: 1px solid #dddddd;
    margin-top: 24px;
}
.product__content-right--tab-header{
    display: flex;
    border-bottom: 2px solid #f7f8f9;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.tab-item{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    /* border-bottom: 2px solid transparent; */
    color: #6c6d70;
    cursor: pointer;
    position: relative;
}
.tab-item + .tab-item{
    margin-left: 40px;
}
.product__content-right--tab-body{
    padding-top: 24px;
}
.tab-content {
    display: block;
    overflow: hidden;
}
.v{
    padding-left: 9px;
}
.product__content-right--tab-bottom{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #ffff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.activeB{
    
    display: none;
}

/* ---------------list san pham------------------ */
.product__bottom-img--content{
    display: flex;
}
.product__bottom h1{
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #221F20;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.products{
    width: 330px;
    margin-right: 30px;
}
.badget{
    z-index: 1;
    position: absolute;
    background: url(../../images/badget.png) no-repeat center/cover;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding: 13px 2px 13px 8px;
    margin-top: 10px;
    margin-left: 15%;
}
.badget-02{
    background: url(/picture/badget-02.png);
    position: absolute;
}
.thumb-product{
    margin-bottom: 17px;
    position: relative;
}
.thumb-product img{
    width: 100%;
    display: block;

}
.listcolor{
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
}
.listcolor ul{
    white-space: nowrap;
    position: relative;
}
.listcolor ul li{
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.listcolor ul li img{
    width: 18px;
    border-radius: 50%;
}
.favourite{
    cursor: pointer;
}
.title-product{
    color: #57585A;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
    min-height: 32px;
}
.price-product{
    justify-content: space-between;
    display: flex;
}
.price-product--d>span{
    color: #3E3E3F;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.price-product--d del{
    color: #A8A9AD;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
}
.art-product a{

    background: #221F20;
    border-radius: 8px 0;
    width: 32px;
    height: 32px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.art-product a:hover{
    transition: 0.3s;
    background-color: white;
    color: #221f20;
    border: 1px solid black;
}
.bf{
    margin-top: 50px;
    margin-bottom: 80px;
}

/* ---------------gio hang-------------------- */
.cart_container{
    margin: 40px 30px 0px 30px;
    /* background-color: #AC2F33; */
    height: 500px;
    display: flex;
}
.cart_container-left{
    padding: 0 15px;
    height: 100%;
    width: 75%;
}
.checkout{
    padding: 22px;
    position: relative;
    border-radius: 16px 0;
    border: 1px solid #e7e8e9;
}
.checkout::before{
    content: "";
    position: absolute;
    width: 47px;
    height: 10px;
    top: 33px;
    left: 16px;
    z-index: 10;
    background-color: white;
}
.checkout ul{
    justify-content: space-between;
    display: flex;
}
.checkout ul li{
    position: relative;
    padding-top: 31px;
    width: 96px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #221f20;
}
.checkout ul::before{
    position: absolute;
    height: 4px;
    background-color: #e7e8e9;
    content: "";
    width: 93%;
    top: 33px;
}

.checkout ul li::before{
    content: "";
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 13px;
    height: 13px;
    border-radius: 24px;
    z-index: 12;
    border: 2px solid #e7e8e9;
    background-color: white;
}
.checkout ul li.activec::before{
    width: 13px;
    height: 13px;
    left: 50%;
    top: 3px;
    border: 2px solid white;
    z-index: 14;
    background-color: #221f20;
}
/* .checkout ul li.activec::after{
    content: "";
    width: 2000px;
    background-color: #221f20;
    height: 4px;
    top: 10px;
    position: absolute;
    right: 48px;
    box-sizing: border-box;
} */
.cart_container-right{
    padding: 0 15px;
    height: 100%;
    width: 25%;
}
.cart-list{
    margin-top: 32px;
}
.cart-list .cart-title {
    font-weight: 550;
    font-size: 24px;
    line-height: 32px;
    color: #221f20;
}
.cart-title b{
    color: #d73831 ;
}
.cart-list .cart-table{
    margin-top: 38px;
    width: 100%;
    border-collapse: collapse;
}
.cart-list .cart-table thead{
    border-bottom: 1px solid #e7e8e9;
}
.cart-table tr{
    position: relative;
}
.cart-list .cart-table th:first-child,
 .cart-list .cart-table td:first-child,
.cart-list--attach .cart-table--attach th:first-child,
 .cart-list .cart-table td:first-child{
    text-align: left;
    width: auto;
    padding-left: 0;
}

.cart-list .cart-table thead th,
 .cart-list .cart-table thead td{
    padding-bottom: 24px;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    line-height: 15px;
    color: #6c6d70;
}
.cart-page .cart-table th,
 .checkout .cart-list .cart-table thead th{
    text-transform: uppercase;
}
.cart-list .cart-table th,
.cart-list .cart-table td,
.cart-list .cart-table th,
.cart-list .cart-table td{
    text-align: left;

    vertical-align: top;
    padding: 0 16px;
}
.cart-list .cart-table tbody td,
 .cart-list--attach .cart-table--attach tbody td{
    padding-top: 24px;
    border-bottom: 1px solid #e7e8e9;
    padding-bottom: 24px;
 }
.product-item{
    display: flex;
}
.product-item .item-img{
    flex: 0 0 150px;
    max-width: 150px;
}
.item-img a{
    padding-top: 143.3333333333%;
    display: block;
    position: relative;
}
.item-img a img{
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.item-content{
    flex: 0 0 366px;
    max-width: 250px;
    padding-left: 16px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
.content-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #6c6d70
}
.content__properties{
    display: flex;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #6c6d70;
    margin-top: 16px;
    width: 100%;
}
.content__properties p:first-child{
    max-width: 154px;
}
.content__properties p+p{
    margin-left: 16px;
}
.cart-sale-price p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
}
.cart-sale_item{
    color: #d73831;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0;
}
/* tang giam */
.cart-list .cart-table .product-detail__quantity-input input,
 .cart-list .cart-table
  .product-detail__quantity-input{
    width: 144px;
    position: relative;
    height: 48px;
  }
.cart-list .cart-table .product-detail__quantity-input input,
 .cart-list .cart-table
  .product-detail__quantity-input input{
    text-align: center;
    position: absolute;
    width: 100%;
    border: 1px solid #e7e8e9;
    left: 0;
    height: 100%;
    border-radius: 16px 0px;
    padding: 0 45px 0 50px;
    color: #221f20;
  }
.cart-list .cart-table .product-detail__quantity-input
.product-detail__quantity--increase{
    right: 0;
}
.cart-list .cart-table .product-detail__quantity-input
.product-detail__quantity--decrease{
    left: 0;
}
.cart-list .cart-table
 .product-detail__quantity-input
  .product-detail__quantity--increase,
   .cart-list .cart-table .product-detail__quantity-input
    .product-detail__quantity--decrease{
        width: 48px;
        color: #444444;
        height: 48px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e7e8e9;
        border-radius: 16px 0px;
        background-color: white;
        cursor: pointer;
        font-size: 28px;
        font-weight: 200;
        vertical-align: middle;
    }
/* ---------------------------------------- */
.cart__product-item__price{
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;
    color: #3e3e3f; 
}
.cart-list .cart-table tbody td:last-child span{
    cursor: pointer;
    line-height: 48px;
    font-size: 20px;
    color: #221f20;
    transition: 0.3s all ease-in-out;
}
.cart-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    background: #ffffff;
    border: 1px solid #221f20;
    box-sizing: border-box;
    border-radius: 16px 0px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #221f20;
    max-width: 226px;
    height: 52px;
    margin-top: 32px;
    text-transform: initial;
}
.btn-cart-continue:hover{
    background: #221f20;
    color: #FFFFFF;
    transition: 0.3s;
}
.cart-summary{
    width: 100%;
    margin-left: auto;
}
.cart-summary{
    
    padding: 22px;
    background: rgba(247, 248, 249, 0.5);
}
.cart-summary__overview h3{
    margin-bottom: 18px;
    color: #221f20;
    font-size: 20px;
}
.cart-summary__overview .cart-summary__overview__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-summary__overview .cart-summary__overview__item p{
    font-size: 14px;
    line-height: 16px;
    color: #57585a;
    margin-bottom: 0;
}
.cart-summary__overview
 .cart-summary__overview__item + .cart-summary__overview__item{
    margin-top: 20px;
 }
.cart-summary__note{
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 16px;
    font-family: 'Montserrat';
    color: #AC2F33;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E8E9;
}
.d-flex{
    display: flex!important;
    flex-wrap: wrap;
}
.left-inner-note{
    width: 20px;
    font-size: 20px
}
.content-inner-note{
    width: calc(100% - 20px);
    padding-left: 10px;
}
.inner-note p{
    margin-bottom: 16px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    background: #221f20;
    border: 1px solid #221f20;
    box-sizing: border-box;
    border-radius: 16px 0px;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    max-width: 100%;
    height: 52px;
    margin-top: 5px;
    text-transform: initial;
}
.btn:hover{
    color: #221f20;
    background: #ffffff;
    transition: 0.3s;
}